#!/bin/bash
export BROWSER=chromium
export PATH=/home/roneill6/bin:$PATH
#export DE=openbox
#touchegg &
#exec dbus-launch openbox-session

#exec dropbox
#sh -c "sleep 10 && xscreensaver -no-splash &"

FontPath /usr/share/fonts/100dpi

xrandr --output DP-0 --primary --auto --output DVI-I-1 --auto --right-of DP-0
#conky -q &
volwheel &
#nitrogen --restore &
#(sleep 2s && xscreensaver -no-splash) &
#~/.config/openbox/scripts/compton.sh advanced &
remmina -i &
slack --startup &
export `gnome-keyring-daemon`

compton --config "$HOME/.config/compton/compton.conf" &
xrdb -load "$HOME/.Xresources"
xset +fp "$HOME/.fonts"
xset fp rehash
#update-wallpaper
pulseaudio --start
#exec i3

# start inject3d definitions

#userresources=$HOME/.Xresources
#usermodmap=$HOME/.Xmodmap
#sysresources=/etc/X11/xinit/.Xresources
#sysmodmap=/etc/X11/xinit/.Xmodmap
#
## Use GTK widgets in place of QT
#export QT_STYLE_OVERRIDE=GTK+
#
## merge in defaults and keymaps
#
#if [ -f $sysresources ]; then
#    xrdb -merge $sysresources
#fi
#
#if [ -f $sysmodmap ]; then
#    xmodmap $sysmodmap
#fi
#
#if [ -f "$userresources" ]; then
#    xrdb -merge "$userresources"
#fi
#
#if [ -f "$usermodmap" ]; then
#    xmodmap "$usermodmap"
#fi
#
## start some nice programs
#
#if [ -d /etc/X11/xinit/xinitrc.d ] ; then
# for f in /etc/X11/xinit/xinitrc.d/?*.sh ; do
#  [ -x "$f" ] && . "$f"
# done
# unset f
#fi
#
## enable use of xset to manipulate keyboard LEDs
#xkbcomp "$DISPLAY" /tmp/xkbconf
#sed 's/\!allowExplicit/allowExplicit/' </tmp/xkbconf >/tmp/xkbconfnew
#xkbcomp /tmp/xkbconfnew "$DISPLAY"
##rm -f '/tmp/xkbconf' '/tmp/xkbconfnew'
##
## keyboard shortcuts for bspwm
#sxhkd -f 100 &
#
## screen temperature adjustment
## adjust the coordinates for your location.  in case you were thinknig of going to the coordinates listed
## below, my she-devil of an ex flatmate lives there, and it is probably best to avoid Charlotte altogether.
## redshift -r -l 35.22:-80.84 &
#
# desktop wallpaper
sh ~/.fehbg &

## hide x11 cursor
##unclutter &
#
# urxvt daemon
urxvtd -q -f -o &

